@charset "ISO-8859-1";

body{
	background-color: #4D7AA1;
}

.centeredBox{
	background-color: #036178;
	width: 600px;
	margin: auto;
	border: 1px solid #037875;
}

#loginForm{
	width: 300px;
	margin-left: 150px;
}

#newAccount{
	width: 150px;
	margin-left: 225px;
}

