@charset "ISO-8859-1";

body{
	background-color: #4D7AA1;
	text-align:center;
}

.centeredBox{
	background-color: #077996;
	width: 1000px;
	margin: auto;
	box-shadow: 10px 10px 25px;	


}

#loginForm{
	width: 300px;
	margin-left: 150px;
}

#newAccount{
	width: 150px;
	margin-left: 225px;
}

p{
	text-align:center;
	color:rgb(156, 29, 6);	
	font-size: 2.5em;
	text-shadow: 5px 5px 13px tomato;
}

th, td{
	font-size: 1.25em;
}

.centeredBox h4{
	font-size: 1.55em;
	color:rgb(38, 167, 26);
}

.centeredBox p{
	font-size: 1.25em;
	color:rgb(28, 26, 167);
}








