<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <listener>
    <listener-class>com.revature.servlets.DependencyLoaderListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>loginPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccount</display-name>
    <servlet-name>NewAccount</servlet-name>
    <servlet-class>com.revature.servlets.NewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccount</servlet-name>
    <url-pattern>/NewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitTicket</display-name>
    <servlet-name>SubmitTicket</servlet-name>
    <servlet-class>com.revature.servlets.SubmitTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTicket</servlet-name>
    <url-pattern>/SubmitTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeePending</display-name>
    <servlet-name>SeePending</servlet-name>
    <servlet-class>com.revature.servlets.SeePending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeePending</servlet-name>
    <url-pattern>/SeePending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyTickets</display-name>
    <servlet-name>GetMyTickets</servlet-name>
    <servlet-class>com.revature.servlets.GetMyTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyTickets</servlet-name>
    <url-pattern>/GetMyTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveTicket</display-name>
    <servlet-name>ApproveTicket</servlet-name>
    <servlet-class>com.revature.servlets.ApproveTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveTicket</servlet-name>
    <url-pattern>/ApproveTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyView</display-name>
    <servlet-name>MoneyView</servlet-name>
    <servlet-class>com.revature.servlets.MoneyView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyView</servlet-name>
    <url-pattern>/MoneyView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.revature.servlets.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
</web-app>